<%- include('../../includes/header') %>
    <link rel="stylesheet" type="text/css" href="/mobile/static/stylesheets/m-forget.fbe3ceb1.css">
    <link rel="stylesheet" type="text/css" href="/mobile/static/stylesheets/8014.90d5bbae.css">
    <div id="root">
        <div class="app forgetpassword">
            <div style="display: none;"></div>
            <div class="app-body">
                <div class="hover-container forget-user-name">
                    <div class="container">
                        <div class="text-right">
                            <img alt="close" src="https://csi.20icipp.com/img/static/ic-cancel.svg"
                                onclick="window.location='/auth'">
                        </div>
                        <div class="main">
                            <h2 class="title-center">Quên mật khẩu</h2>
                            <div class="sms-forget-password">
                                <div class="top-tabs">
                                    <div class="tab active" id="popup-forgot-password-tab-email"
                                        onclick="forgotPasswordChangerTab('email')"><i class="mps-help-mail"></i>
                                        <div class="label">Sử dụng Email liên kết</div>
                                    </div>
                                    <div class="tab" id="popup-forgot-password-tab-cskh"
                                        onclick="forgotPasswordChangerTab('cskh')"><i class="mps-help-man"></i>
                                        <div class="label">Liên hệ CSKH</div>
                                    </div>
                                </div>
                                <div style="display: block;" id="popup-forgot-password-tab-content-email">
                                    <div class="sms">
                                        <div class="content">
                                            <div class="nrc-form nrc-form-block">
                                                <div class="mg-bottom">
                                                    <div class="formik-item">
                                                        <label class="formik-label required">Tên
                                                            đăng nhập</label>
                                                        <input type="text" class="formik-input"
                                                            autocomplete="new-password"
                                                            placeholder="Vui lòng nhập tên đăng nhập" value=""
                                                            id="forgot-password-username">
                                                    </div>
                                                </div>
                                                <div class="formik-item">
                                                    <label class="formik-label required">Số điện
                                                        thoại</label>
                                                    <div class="react-tel-container">
                                                        <div class="react-tel-input formik-mobile">
                                                            <div class="flag-dropdown">
                                                                <button class="selected-flag" type="button">
                                                                    <div class="flag vn"
                                                                        style="background-image: url(&quot;/static/media/flags.5bc53ca7..png&quot;);">
                                                                    </div>
                                                                </button>
                                                            </div>
                                                            <input type="tel" class="form-control"
                                                                placeholder="Vui lòng nhập số điện thoại." value="+84"
                                                                id="forgot-password-phone">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="forgot-password-message"
                                                    style="text-align: center; margin-top: 27px; font-family: sans-serif;">
                                                </div>
                                                <div class="btns">
                                                    <button title="" class="nrc-button grey" type="button"
                                                        onclick="window.location='/auth'">Hủy</button>
                                                    <button title="" class="nrc-button" type="button"
                                                        id="btnFogotPasswordByEmail"
                                                        onclick="getNewPasswordByEmail()">Nhận
                                                        mật khẩu mới</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: none;" id="popup-forgot-password-tab-content-cskh">
                                    <div class="cs">
                                        <div class="content">Liên hệ CSKH nhận mật khẩu</div>
                                        <div class="btns"><button title="" class="nrc-button grey" type="button"
                                                onclick="window.location='/auth'">Hủy</button><button title=""
                                                class="nrc-button" type="button">Liên hệ CSKH</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const forgotPasswordChangerTab = (tabClick) => {
            const methodGetPass = ["email", "cskh"];
            methodGetPass.forEach((item) => {
                const elementSelect = $("#popup-forgot-password-tab-" + item);
                const elementBody = $("#popup-forgot-password-tab-content-" + item);
                if (item == tabClick) {
                    elementSelect.addClass("active");
                    elementBody.show();
                } else {
                    elementSelect.removeClass("active");
                    elementBody.hide();
                }
            });
        }
        const callPopupForgotPassword = (status) => {
            if (status) $("div[id='popup-forget-password']").show();
            if (!status) $("div[id='popup-forget-password']").hide();
        }
        const getNewPasswordByEmail = () => {
            const username = $('#forgot-password-username').val();
            const phone = $('#forgot-password-phone').val();
            const btnSubmit = $('#btnFogotPasswordByEmail');
            const text = $('#forgot-password-message');
            if (!username || !phone) {
                text.html(`<p style="color:#f00">Vui lòng nhập đầy đủ thông tin bên trên!</p>`);
                return;
            }
            if (phone == "+84") {
                text.html(`<p style="color:#f00">Vui lòng nhập đầy đủ thông tin bên trên!</p>`);
                return;
            }
            btnSubmit.prop('disabled', true);
            $.ajax({
                "url": "<%=dataPage.config.MAIN_API%>/api/auth/forgot-password",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json",
                },
                "data": JSON.stringify({
                    username, phone
                }),
            }).done((response) => {
                btnSubmit.prop('disabled', false);
                if (response.status) {
                    text.html(`<p style="color:#3cc2ea">Mật khẩu mới cho tài khoản đã được gửi về email của bạn!<br>Vui lòng kiểm tra email để nhận mật khẩu mới!</p>`);
                } else {
                    text.html(`<p style="color:#f00">${response.msg}</p>`);
                }
            });
        }
    </script>

    <%- include('../../includes/footer') %>