<app-banner _ngcontent-serverapp-c163="" _nghost-serverapp-c161="">
    <div _ngcontent-serverapp-c161="" style="height: 130px">
        <swiper _ngcontent-serverapp-c161=""
            class="swiper z-10 swiper-initialized swiper-horizontal swiper-android mySwiperBanner">
            <div class="swiper-wrapper"
                style="transform: translate3d(-3510px, 0px, 0px); transition-duration: 300ms;">

                <div data-swiper-slide-index="10" class="swiper-slide swiper-slide-duplicate"
                        style="width: 390px;">
                        <img
                            _ngcontent-serverapp-c161="" class="block h-full w-full"
                            src="/images/banner/1.png">
                    </div>
                    <div data-swiper-slide-index="10" class="swiper-slide swiper-slide-duplicate"
                        style="width: 390px;">
                        <img
                            _ngcontent-serverapp-c161="" class="block h-full w-full"
                            src="/images/banner/2.png">
                    </div>
                    <div data-swiper-slide-index="10" class="swiper-slide swiper-slide-duplicate"
                        style="width: 390px;">
                        <img
                            _ngcontent-serverapp-c161="" class="block h-full w-full"
                            src="/images/banner/3.png">
                    </div>

            </div>

        </swiper>
    </div>
</app-banner>

<script type="text/javascript" src="/core/js/include/banner.js"></script>