<header _ngcontent-serverapp-c151="" class="header" style="padding: 2rem 0;">
    <div _ngcontent-serverapp-c151="" class="header-wrap" style="height: 80px;">
        <a _ngcontent-serverapp-c151="" class="logo" href="/" style="padding-left: 5rem;">
            <img _ngcontent-serverapp-c151="" src="/images/logo.png"></a>

        <section _ngcontent-serverapp-c151="">

                        <div _ngcontent-serverapp-c151=""
                            class="text-customized-text-primary btn-open-right-sidebar">
                            <i _ngcontent-serverapp-c151="" class="fas fa-bars text-3xl"></i>
                        </div>
        </section>
    </div>
</header>