<section _ngcontent-serverapp-c162="" class="jackpot">
    <div _ngcontent-serverapp-c162="" class="h-[1px]"></div>
    <div _ngcontent-serverapp-c162="" class="bg">
        <img _ngcontent-serverapp-c162=""
            src="/cdn/system-requirement/Web.MobileNew/UA531-01/90e8311384/assets/images/game-category/jackpot.png">
    </div>
    <h2 _ngcontent-serverapp-c162="">TỔNG SỐ TIỀN</h2>
    <p _ngcontent-serverapp-c162="" class="gold">
        <span _ngcontent-serverapp-c162="" id="jackpot-countup">770.870.344</span>
        <span _ngcontent-serverapp-c162="" class="currency ml-2">VNĐ</span>
    </p>
    <button onclick="window.location='/lobby/slot/INDEX'" _ngcontent-serverapp-c162="" type="button" routerlink="/Lobby" tabindex="0">SĂN
        HŨ</button>
</section>

<script type="text/javascript" src="/core/js/include/jackpot_countup.js"></script>