<app-footer _ngcontent-serverapp-c151="" _nghost-serverapp-c78="">
    <footer _ngcontent-serverapp-c78="">
        <ul _ngcontent-serverapp-c78="" class="inline-flex h-full w-full uppercase"
            style="background: #fff;border-top: 2px solid #d6d4d4a8;">

            <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center" href="/">
                    <i class="fas fa-home"></i>
                    <span style="font-size: 10px;">Trang chủ</span>
                </a>
            </li>
            <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center" href="/Promotion">
                    <i class="fas fa-gift"></i>
                    <span style="font-size: 10px;">Khuyến mãi</span>
                </a>
            </li>
            <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center chat" href="/account/deposit">
                    <img src="/images/footer/Chantrang-3.png" alt="" style="margin-bottom: 21px;">
                </a>
            </li>
            <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center" href="/account">
                    <i class="fas fa-user"></i>
                    <span style="font-size: 10px;">Tài khoản</span>
                </a>
            </li>
            <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center chat">
                    <i class="fas fa-headset"></i>
                    <span style="font-size: 10px;">Liên hệ</span>
                </a>
            </li>
        </ul>
    </footer>
</app-footer>