<section _ngcontent-serverapp-c162="" class="lobby">
    <h2 _ngcontent-serverapp-c162="">ĐỪNG BỎ LỠ</h2>

    <swiper _ngcontent-serverapp-c162=""
        class="lobbyItems swiper swiper-initialized swiper-horizontal swiper-android swiper-backface-hidden">

        <div class="swiper-wrapper">
            <div data-swiper-slide-index="0" class="swiper-slide swiper-slide-active"
                style="margin-right: 15px;">
                <div _ngcontent-serverapp-c162="" class="lobby-item live">
                    <div _ngcontent-serverapp-c162="" class="bg"></div>
                    <div _ngcontent-serverapp-c162="" class="des">
                        <h2 _ngcontent-serverapp-c162="">CASINO TRỰC TUYẾN</h2>
                        <p _ngcontent-serverapp-c162="">CUNG CẤP 37 BÀN POKER, ROULETTE VÀ XÚC
                            XẮC, V.V. SUỐT 365 NGÀY!</p>
                    </div>
                </div>
            </div>
            <div data-swiper-slide-index="1" class="swiper-slide swiper-slide-next"
                style="margin-right: 15px;">
                <div _ngcontent-serverapp-c162="" class="lobby-item slot">
                    <div _ngcontent-serverapp-c162="" class="bg"></div>
                    <div _ngcontent-serverapp-c162="" class="des">
                        <h2 _ngcontent-serverapp-c162="">NỔ HŨ</h2>
                        <p _ngcontent-serverapp-c162="">HƠN 200 NỔ HŨ VỚI CÁC TABLE GAMES</p>
                        <p _ngcontent-serverapp-c162="">CHƠI &amp; THẮNG!</p>
                    </div>
                </div>
            </div>
            <div data-swiper-slide-index="2" class="swiper-slide" style="margin-right: 15px;">

                <div _ngcontent-serverapp-c162="" class="lobby-item fish">
                    <div _ngcontent-serverapp-c162="" class="bg"></div>
                    <div _ngcontent-serverapp-c162="" class="des">
                        <h2 _ngcontent-serverapp-c162="">BẮN CÁ</h2>
                        <p _ngcontent-serverapp-c162="">BẮN CÁ VỚI CÁC CHẾ ĐỘ MỚI VÀ HIỆU ỨNG
                            ĐẶC BIỆT!</p>
                    </div>
                </div>
            </div>
        </div>
    </swiper>
</section>

<script type="text/javascript" src="/core/js/include/relation.js"></script>