<app-menu _ngcontent-serverapp-c91="" _nghost-serverapp-c94="">
    <section _ngcontent-serverapp-c94="">
        <div _ngcontent-serverapp-c94=""
            class="fixed top-0 right-0 z-20 block h-screen w-screen bg-black/50 transition-all hidden sidebar-backdrop">
        </div>
        <div _ngcontent-serverapp-c94="" style="background: #fff;color: #000;text-transform: uppercase;"
            class="menu fixed top-0 z-30 h-screen w-[82%] overflow-auto transition-all right-[-82%] sidebar-body">

            <div _ngcontent-serverapp-c94="" class="relative flex min-h-[5vh] items-center justify-center">
                <div _ngcontent-serverapp-c94="" onclick="initRightSidebar(false)"
                    class="text-customized-text-primary absolute top-[15px] left-[15px] flex h-6 w-6 items-center justify-center rounded-full text-sm">
                    <i _ngcontent-serverapp-c94="" class="fas fa-times-circle text-2xl"></i>
                </div>
                <% if (dataPage.session.user) { %>
                    <% }else { %>
                        <div _ngcontent-serverapp-c94="" class="not-login pt-7 uppercase" style="margin-top: 20px;">
                            <div _ngcontent-serverapp-c94="" class="slogan flex flex-col items-center">
                                <a href="/" class="mx-auto block w-[126px] mt-[19px] mb-[8px]">
                                    <img class="mx-auto max-h-full" style="max-width: 180px;"
                                        src="/images/main/logo2.png">
                                </a>
                                <img _ngcontent-serverapp-c154="" class="px-4 mb-[5px] mt-4"
                                    src="/images/main/menu_img.png">
                            </div>
                            <button _ngcontent-serverapp-c94="" type="button" onclick="window.location='/auth'"
                                class="btn-login" tabindex="0" style="background: #ff0000;">Tham gia
                                ngay để nhận thưởng
                            </button>
                        </div>
                        <% } %>
            </div>




            <app-menu-list _ngcontent-serverapp-c94="" _nghost-serverapp-c93="">
                <ul _ngcontent-serverapp-c93="">
                    <% if (dataPage.session.user) { %>
                        <li _ngcontent-serverapp-c93="" class="h-10 text-sm">
                            <a _ngcontent-serverapp-c93="" class="inline-flex h-full w-[80%] items-center align-top"
                                href="/account/game-history">
                                Lịch sử đặt cược </a>
                            <i _ngcontent-serverapp-c93=""
                                class="inline-flex h-full w-9 items-center justify-center text-center text-lg fas fa-history"
                                style="color: #ff0000;"></i>
                        </li>
                        <li _ngcontent-serverapp-c93="" class="h-10 text-sm">
                            <a _ngcontent-serverapp-c93="" class="inline-flex h-full w-[80%] items-center align-top"
                                href="/account/finan-history">
                                Chi tiết giao dịch </a>
                            <i _ngcontent-serverapp-c93=""
                                class="inline-flex h-full w-9 items-center justify-center text-center text-lg fas fa-history"
                                style="color: #ff0000;"></i>
                        </li>
                        <li _ngcontent-serverapp-c93="" class="h-10 text-sm">
                            <a _ngcontent-serverapp-c93="" class="inline-flex h-full w-[80%] items-center align-top"
                                href="/account/inbox"> Thông báo & Hòm thư
                            </a>
                            <i _ngcontent-serverapp-c93=""
                                class="inline-flex h-full w-9 items-center justify-center text-center text-lg fas fa-envelope"
                                style="color: #ff0000;"></i>
                        </li>
                        <li _ngcontent-serverapp-c93="" class="h-10 text-sm">
                            <a _ngcontent-serverapp-c93="" class="inline-flex h-full w-[80%] items-center align-top"
                                href="/account/security">
                                Thay đổi mật khẩu
                            </a>
                            <i _ngcontent-serverapp-c93=""
                                class="inline-flex h-full w-9 items-center justify-center text-center text-lg fas fa-key"
                                style="color: #ff0000;"></i>
                        </li>
                        <li _ngcontent-serverapp-c93="" class="h-10 text-sm">
                            <a _ngcontent-serverapp-c93="" class="inline-flex h-full w-[80%] items-center align-top"
                                href="#">
                                Khu vực đại lý
                            </a>
                            <i _ngcontent-serverapp-c93=""
                                class="inline-flex h-full w-9 items-center justify-center text-center text-lg fas fa-users"
                                style="color: #ff0000;"></i>
                        </li>
                        <% } %>
                            <li _ngcontent-serverapp-c93="" class="h-10 text-sm">
                                <a _ngcontent-serverapp-c93="" class="inline-flex h-full w-[80%] items-center align-top">Hỗ trợ trực tuyến </a>
                                <i _ngcontent-serverapp-c93=""
                                    class="inline-flex h-full w-9 items-center justify-center text-center text-lg fab fa-whatsapp-square"
                                    style="color: #ff0000;"></i>
                            </li>

                            <% if (dataPage.session.user) { %>
                                <li _ngcontent-serverapp-c93="" class="h-10 text-sm">
                                    <a _ngcontent-serverapp-c93=""
                                        class="inline-flex h-full w-[80%] items-center align-top" href="/auth/logout">
                                        Đăng xuất </a>
                                    <i _ngcontent-serverapp-c93=""
                                        class="inline-flex h-full w-9 items-center justify-center text-center text-lg fas fa-sign-out-alt"
                                        style="color: #ff0000;"></i>
                                </li>
                                <% } %>
                </ul>
            </app-menu-list>

        </div>
    </section>
</app-menu>

<script type="text/javascript" src="/core/js/include/sidebar_menu.js"></script>