<style>
    .search[_ngcontent-serverApp-c172] {
        padding: 3% 2%;
        --tw-bg-opacity: 1;
        background-color: rgb(29 30 31 / var(--tw-bg-opacity));
    }

    .input-wrapper[_ngcontent-serverApp-c172] {
        display: flex;
        flex-grow: 1;
    }

    .input-wrapper[_ngcontent-serverApp-c172] input[_ngcontent-serverApp-c172] {
        border: 1px solid #e1e1e5;
    }

    .input-wrapper[_ngcontent-serverApp-c172] button[_ngcontent-serverApp-c172] {
        background: rgb(255 77 0 / var(--tw-bg-opacity));
        border: 1px solid #bc3f0900;
    }
</style>

<section _ngcontent-serverapp-c172="" class="search">
    <form _ngcontent-serverapp-c172="" novalidate=""
        class="ng-untouched ng-pristine ng-valid" onsubmit="event.preventDefault();">
        <div _ngcontent-serverapp-c172="" class="mb-2 flex h-[28px]">
            <div _ngcontent-serverapp-c172="" class="input-wrapper">
                <input _ngcontent-serverapp-c172="" type="text"
                    formcontrolname="nameKeyword"
                    class="h-full w-4/5 rounded p-1 text-black ng-untouched ng-pristine ng-valid input-search"
                    placeholder="VUI LÒNG NHẬP TÊN TRÒ CHƠI......">
                <button _ngcontent-serverapp-c172="" type="submit"
                    class="h-full w-1/5 rounded text-xs text-black">
                    <i _ngcontent-serverapp-c172="" class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</section>